### ハンズオン2-1 相関係数を求める

In [3]:
import pandas as pd
#身長と体重のデータを読み込む

children = pd.DataFrame({'年齢':[1.39,2.32,3.56,4.13],
                     '身長':[75.6,85.1,90.9,105.7]})

#読み込んだデータを表示
children

     年齢     身長
0  1.39   75.6
1  2.32   85.1
2  3.56   90.9
3  4.13  105.7

In [5]:
import numpy as np

#x,yの平均を求める
x,y = np.mean(children)

print ("年齢の平均:",round(x,3)) #round関数で小数点３桁で切り捨て
print ("身長の平均:",y)

年齢の平均: 2.85
身長の平均: 89.325

In [7]:
#共分散を求める
#データ個数分だけ (x-x平均)x(y-y平均)を繰り返す
sum=0
for i in range(0,len(children)):
  sum += ((children["年齢"][i]-x)*(children["身長"][i]-y))
  print(i,"年齢",children["年齢"][i],"身長",children["身長"][i],"身長×年齢",np.round(sum,3))

#データ個数で割った値を返す
cov_a = sum/len(children)

print ("共分散:",np.round(cov_a,3))

0 年齢 1.39 身長 75.6 身長×年齢 20.039
1 年齢 2.32 身長 85.1 身長×年齢 22.278
2 年齢 3.56 身長 90.9 身長×年齢 23.396
3 年齢 4.13 身長 105.7 身長×年齢 44.356
共分散: 11.089

In [10]:

#年齢と身長の標準偏差を求める
a_std,b_std=np.std(children)

#相関係数を求める
#相関係数 = (共分散)/(身長の標準偏差x年齢の標準偏差)

print ("相関係数:",cov_a/(a_std*b_std))

相関係数: 0.9517402339704732

### ハンズオン２－２　最小二乗法による値予測

In [13]:
#最小二乗法による傾きa と　切片bを求める
#分散を求める
a_var,b_var = np.var(children)
#傾きa = 共分散/分散
a = cov_a/a_var
#切片 b= y平均 - a x x平均
b = y - a * x
#傾き、切片を表示
print ("傾きa",a, "切片b",b)

傾きa 9.737870472008785 切片b 61.572069154774965

### ハンズオン２－３　決定係数を求める

In [14]:
#入力：テストデータの年齢、出力：身長
for i in range(0,len(children)):
#最小二乗法で求めた傾きa、切片bをもとに予測値testを求める
  test= ((children["年齢"][i]*a)+b)
#年齢（実測値）　身長（実測値）　身長（予測値）　身長の残差を表示
  print(i,"年齢:",children["年齢"][i],"身長(実測値):",children["身長"][i],"身長(予測値):",round(test,2)
       ,"残差:",children["身長"][i]-round(test,2))

0 年齢: 1.39 身長(実測値): 75.6 身長(予測値): 75.11 残差: 0.4899999999999949
1 年齢: 2.32 身長(実測値): 85.1 身長(予測値): 84.16 残差: 0.9399999999999977
2 年齢: 3.56 身長(実測値): 90.9 身長(予測値): 96.24 残差: -5.339999999999989
3 年齢: 4.13 身長(実測値): 105.7 身長(予測値): 101.79 残差: 3.9099999999999966

In [18]:
##決定係数をもとめる
#残差平方和,回帰平方和、全体平方和を求める
z_sum=0
k_sum=0
t_sum=0
for i in range(0,len(children)):
    #残差平方和 y(実測値) - 予測値)^2
    z_sum += (children["身長"][i]-(children["年齢"][i]*a+b))**2
    #回帰平方和 予測値 - 平均
    k_sum+= ((children["年齢"][i]*a+b)-y)**2
    #全体平方和 y(実測値) - 平均
    t_sum+= ((children["身長"][i])-y)**2
#決定係数を求めて、表示
print ("決定係数 回帰平方和/全体平方和", np.round(k_sum/t_sum,3))
print ("決定係数 1-残差平方和/全体平方和",1 - round(z_sum/t_sum,3))

決定係数 回帰平方和/全体平方和 0.906
決定係数 1-残差平方和/全体平方和 0.906

### ハンズオン２－４　ｔ値とｐ値を求める

In [19]:
#標準誤差を求める
#残差平方和を自由度を引いた個数でかける
se1=z_sum*(1/(len(children)-2))
# x-x平均の平方和
x_sum=0
for i in range(0,len(children)):
    x_sum += (children["年齢"][i]-x)**2
se2=np.sqrt((se1/x_sum))
#標準誤差を求める
print ("標準誤差:",round(se2,3))

標準誤差: 2.22

In [25]:
#t値を求める 
tval = a/se2
print ("t値:",round(tval,3))

t値: 4.386

In [21]:
#t値が１の場合のp値
from scipy.stats import norm
1-norm.cdf(3, 0, 1)

0.0013498980316301035

### ハンズオン２－５　複数の説明変数による値予測

In [29]:
#重回帰分析
import pandas as pd
#身長と体重のデータを読み込む
childrenm = pd.read_csv("https://raw.githubusercontent.com/futurebridge/ZukaiML/master/data/childrenm.csv",encoding="SHIFT-JIS")

In [30]:
childrenm

      身長    年齢    体重   手長  手首
0   1022  4.47  20.6  111  39
1    835  2.11  11.8   97  27
2    958  3.56  13.6  107   2
3    909  2.91  12.4  104  28
4   1044  4.25  16.6  120   1
5   1023  3.93  16.2  118  26
6    997  4.20  14.6  110  39
7   1033  3.99  16.0  112   2
8   1035  4.13  17.6  120   9
9   1057  4.33  18.5  119   9
10   994  3.74  14.3  111  17
11  1110  4.47  22.9  120  43
12  1038  4.36  16.3  123  25
13  1049  4.21  15.9  112   7
14   877  2.32  12.6  104  28
15   851  2.37  12.6   97   9
16   879  2.17  12.8  100  25

In [31]:
#相関行列を求める
childrenm.corr()

          身長        年齢        体重        手長        手首
身長  1.000000  0.961929  0.848933  0.921505 -0.054059
年齢  0.961929  1.000000  0.800781  0.884119 -0.035522
体重  0.848933  0.800781  1.000000  0.747222  0.220878
手長  0.921505  0.884119  0.747222  1.000000 -0.074436
手首 -0.054059 -0.035522  0.220878 -0.074436  1.000000

In [32]:
#説明変数の抽出、身長以外を説明変数として利用
X = childrenm.drop("身長",1) 
#目的変数の抽出
Y = childrenm["身長"] 

#ライブラリの導入
#エラーになる場合、anaconda promptからpip install statsmodels
import statsmodels.api as smf
#定数表示
X1=smf.add_constant(X) 
#OLS(最小二乗法)でモデル作成
model1 = smf.OLS(Y,X1)
#model.fitで実際の計算
result = model1.fit()
#結果表示
result.summary()

C:\Users\kengo\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
C:\Users\kengo\Anaconda3\lib\site-packages\scipy\stats\stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     身長   R-squared:                       0.964
Model:                            OLS   Adj. R-squared:                  0.953
Method:                 Least Squares   F-statistic:                     81.27
Date:                Sun, 14 Jul 2019   Prob (F-statistic):           1.38e-08
Time:                        06:36:40   Log-Likelihood:                -70.268
No. Observations:                  17   AIC:                             150.5
Df Residuals:                      12   BIC:                             154.7
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        416.5500     95.187      4.376      0.001     209.155     623.945
年齢            50.1660     12.468      4.024      0.002      23.000      77.331
体重             6.3704      2.748      2.318      0.039       0.383      12.358
手長             2.6463      1.172      2.258      0.043       0.093       5.200
手首            -0.4014      0.362     -1.107      0.290      -1.191       0.388
==============================================================================
Omnibus:                        0.584   Durbin-Watson:                   2.176
Prob(Omnibus):                  0.747   Jarque-Bera (JB):                0.600
Skew:                           0.120   Prob(JB):                        0.741
Kurtosis:                       2.111   Cond. No.                     2.50e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.5e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""