In [8]:
import pandas as pd
#身長と体重のデータを読み込む
children = pd.read_csv("https://raw.githubusercontent.com/futurebridge/ZukaiML/master/children.csv",encoding="SHIFT-JIS")

#読み込んだデータの表示
children

      年齢    身長
0   4.47  1022
1   2.11   835
2   3.56   958
3   2.91   909
4   4.25  1044
5   3.93  1023
6   4.20   997
7   3.99  1033
8   4.13  1035
9   4.33  1057
10  2.32   877
11  2.37   851
12  2.17   879
13  2.56   881
14  2.38   912

      年齢    身長
0   4.47  1022
1   2.11   835
2   3.56   958
3   2.91   909
4   4.25  1044
5   3.93  1023
6   4.20   997
7   3.99  1033
8   4.13  1035
9   4.33  1057
10  2.32   877
11  2.37   851
12  2.17   879
13  2.56   881
14  2.38   912

In [3]:
import numpy as np

#x,yの平均を求める
x,y = np.mean(children)
print (x,y)

3.312 954.2

In [4]:
#共分散を求める
#データ個数分だけ (x-x平均)x(y-y平均)を繰り返す
sum=0
for i in range(0,len(children)):
  sum += ((children["年齢"][i]-x)*(children["身長"][i]-y))
  print(i,"年齢",children["年齢"][i],"身長",children["身長"][i],sum)

#データ個数で割った値を返す
cov_a = sum/len(children)

print ("共分散:",cov_a)

0 年齢 4.47 身長 1022 78.5124
1 年齢 2.11 身長 835 221.7908
2 年齢 3.56 身長 958 222.7332
3 年齢 2.91 身長 909 240.9036
4 年齢 4.25 身長 1044 325.136
5 年齢 3.93 身長 1023 367.6544
6 年齢 4.2 身長 997 405.6608
7 年齢 3.99 身長 1033 459.0872
8 年齢 4.13 身長 1035 525.1816
9 年齢 4.33 身長 1057 629.832
10 年齢 2.32 身長 877 706.4144
11 年齢 2.37 身長 851 803.6288
12 年齢 2.17 身長 879 889.5072
13 年齢 2.56 身長 881 944.5536
14 年齢 2.38 身長 912 983.884
共分散: 65.5922666667

In [5]:

#年齢と身長の標準偏差を求める
a_std,b_std=np.std(children)

#相関係数を求める
#相関係数 = (共分散)/(身長の標準偏差x年齢の標準偏差)

print ("相関係数:",cov_a/(a_std*b_std))

相関係数: 0.963024154927

In [ ]:
#最小二乗法による傾きa と　切片bを求める

#分散を求める
a_var,b_var = np.var(children)

#傾きa = 共分散/分散
a = cov_a/a_var

#切片 b= y平均 - a x x平均
b = y - a * x

print ("傾きa",a, "切片b",b)

In [ ]:
import pandas as pd
#身長と体重のデータを読み込む
children = pd.read_csv("https://raw.githubusercontent.com/futurebridge/ZukaiML/master/children.csv",encoding="SHIFT-JIS")

#読み込んだデータの表示
children

In [7]:

#説明変数の抽出
X = children["年齢"] 
#目的変数の抽出
Y = children["身長"] 


#ライブラリの導入
#エラーになる場合、anaconda promptからpip install statsmodels
import statsmodels.api as smf
#定数表示
X1=smf.add_constant(X) 
#OLS(最小二乗法)でモデル作成
model = smf.OLS(Y,X1)
#model.fitで実際の計算
result = model.fit()
#結果表示
result.summary()

C:\Users\kengo\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
C:\Users\kengo\Anaconda3\lib\site-packages\scipy\stats\stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     身長   R-squared:                       0.927
Model:                            OLS   Adj. R-squared:                  0.922
Method:                 Least Squares   F-statistic:                     166.1
Date:                Mon, 15 Apr 2019   Prob (F-statistic):           8.84e-09
Time:                        09:13:12   Log-Likelihood:                -66.707
No. Observations:                  15   AIC:                             137.4
Df Residuals:                      13   BIC:                             138.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        678.8398     22.121     30.688      0.000     631.051     726.628
年齢            83.1402      6.451     12.888      0.000      69.204      97.077
==============================================================================
Omnibus:                        3.480   Durbin-Watson:                   1.896
Prob(Omnibus):                  0.176   Jarque-Bera (JB):                1.197
Skew:                          -0.038   Prob(JB):                        0.550
Kurtosis:                       1.618   Cond. No.                         14.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [9]:
##決定係数
#残差平方和,回帰平方和、全体平方和を求める
z_sum=0
k_sum=0
t_sum=0
for i in range(0,len(children)):
    #残差平方和 y(実測値) - 予測値
    z_sum += (children["身長"][i]-(children["年齢"][i]*a+b))**2
    #回帰平方和 予測値 - 平均
    k_sum+= ((children["年齢"][i]*a+b)-y)**2
    #全体平方和 y(実測値) - 平均
    t_sum+= ((children["身長"][i])-y)**2


    print ("残差平方和:",z_sum,"回帰平方和:",k_sum,"全体平方和:",t_sum)

#決定係数を求める
print ("決定係数", k_sum/t_sum, 1 - z_sum/t_sum)

残差平方和: 810.900079174 回帰平方和: 9269.12735317 全体平方和: 4596.84
残差平方和: 1182.06055396 回帰平方和: 19256.0265364 全体平方和: 18805.48
残差平方和: 1464.9312459 回帰平方和: 19681.1598053 全体平方和: 18819.92
残差平方和: 1603.64440245 回帰平方和: 20798.2129527 全体平方和: 20862.96
残差平方和: 1743.22748044 回帰平方和: 26879.9467553 全体平方和: 28927.0
残差平方和: 2046.66228092 回帰平方和: 29519.9148643 全体平方和: 33660.44
残差平方和: 3009.42783754 回帰平方和: 34970.5569095 全体平方和: 35492.28
残差平方和: 3512.57626702 回帰平方和: 38148.0244167 全体平方和: 41701.72
残差平方和: 3676.19484228 回帰平方和: 42773.2012082 全体平方和: 48230.36
残差平方和: 4006.1008656 回帰平方和: 49936.5696022 全体平方和: 58798.2
残差平方和: 4033.92691763 回帰平方和: 56738.7019038 全体平方和: 64758.04
残差平方和: 4653.03922987 回帰平方和: 62872.4161009 全体平方和: 75408.28
残差平方和: 5042.94630267 回帰平方和: 71887.1713109 全体平方和: 81063.32
残差平方和: 5156.97876536 回帰平方和: 75796.0969754 全体平方和: 86421.56
残差平方和: 6402.12507647 回帰平方和: 81800.2749235 全体平方和: 88202.4
決定係数 0.927415522974 0.927415522974

In [10]:
#標準誤差を求める

#残差平方和を自由度を引いた個数でかける

se1=z_sum*(1/(len(children)-2))

# x-x平均の平方和
x_sum=0
for i in range(0,len(children)):
    x_sum += (children["年齢"][i]-x)**2

se2=np.sqrt((se1/x_sum))
    
#標準誤差を求める
print ("標準誤差:",se2)

標準誤差: 6.45095310311

In [16]:
#t値を求める 
tval = a/se2
print ("t値'",tval)

t値' 12.888043122

In [7]:
#t値が１の場合のp値
from scipy.stats import norm
1-norm.cdf(3, 0, 1)

0.0013498980316301035

In [48]:
#重回帰分析
import pandas as pd
#身長と体重のデータを読み込む
childrenm = pd.read_csv("childrenm.csv",encoding="SHIFT-JIS")

In [49]:
childrenm

      身長    年齢    体重   手長  手首
0   1022  4.47  20.6  111  49
1    835  2.11  11.8   97  22
2    958  3.56  13.6  107   5
3    909  2.91  12.4  104  38
4   1044  4.25  16.6  120  19
5   1023  3.93  16.2  118  23
6    997  4.20  14.6  110   9
7   1033  3.99  16.0  112  20
8   1035  4.13  17.6  120   5
9   1057  4.33  18.5  119   6
10   994  3.74  14.3  111   5
11  1110  4.47  22.9  120  35
12  1038  4.36  16.3  123  47
13  1049  4.21  15.9  112   5
14   877  2.32  12.6  104  29
15   851  2.37  12.6   97  33
16   879  2.17  12.8  100  41

In [50]:
#相関行列を求める
childrenm.corr()

          身長        年齢        体重        手長        手首
身長  1.000000  0.961929  0.848933  0.921505 -0.226153
年齢  0.961929  1.000000  0.800781  0.884119 -0.230135
体重  0.848933  0.800781  1.000000  0.747222  0.090743
手長  0.921505  0.884119  0.747222  1.000000 -0.164135
手首 -0.226153 -0.230135  0.090743 -0.164135  1.000000

In [65]:
#説明変数の抽出、身長以外を説明変数として利用
X = childrenm.drop("身長",1) 
#目的変数の抽出
Y = childrenm["身長"] 

#ライブラリの導入
#エラーになる場合、anaconda promptからpip install statsmodels
import statsmodels.api as smf
#定数表示
X1=smf.add_constant(X) 
#OLS(最小二乗法)でモデル作成
model1 = smf.OLS(Y,X1)
#model.fitで実際の計算
result = model1.fit()
#結果表示
result.summary()

C:\Users\kengo\Anaconda3\lib\site-packages\scipy\stats\stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     身長   R-squared:                       0.967
Model:                            OLS   Adj. R-squared:                  0.956
Method:                 Least Squares   F-statistic:                     87.92
Date:                Sat, 13 Apr 2019   Prob (F-statistic):           8.78e-09
Time:                        13:44:25   Log-Likelihood:                -69.622
No. Observations:                  17   AIC:                             149.2
Df Residuals:                      12   BIC:                             153.4
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        402.6389     90.216      4.463      0.001     206.075     599.203
年齢            44.6325     12.901      3.460      0.005      16.525      72.740
体重             6.9348      2.692      2.576      0.024       1.070      12.800
手長             2.9024      1.113      2.608      0.023       0.478       5.327
手首            -0.4873      0.323     -1.507      0.158      -1.192       0.217
==============================================================================
Omnibus:                        1.536   Durbin-Watson:                   2.176
Prob(Omnibus):                  0.464   Jarque-Bera (JB):                1.223
Skew:                           0.482   Prob(JB):                        0.543
Kurtosis:                       2.108   Cond. No.                     2.48e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.48e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [52]:
result.aic

149.24468407467768

In [66]:
#説明変数の抽出、身長以外を説明変数として利用
#手長を除く
X = X.drop("手首",1) 

#ライブラリの導入
#エラーになる場合、anaconda promptからpip install statsmodels
import statsmodels.api as smf
#定数表示
X1=smf.add_constant(X) 
#OLS(最小二乗法)でモデル作成
model2 = smf.OLS(Y,X1)
#model.fitで実際の計算
result2 = model2.fit()
#結果表示
result2.summary()

C:\Users\kengo\Anaconda3\lib\site-packages\scipy\stats\stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     身長   R-squared:                       0.961
Model:                            OLS   Adj. R-squared:                  0.952
Method:                 Least Squares   F-statistic:                     106.1
Date:                Sat, 13 Apr 2019   Prob (F-statistic):           2.16e-09
Time:                        13:44:36   Log-Likelihood:                -71.095
No. Observations:                  17   AIC:                             150.2
Df Residuals:                      13   BIC:                             153.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        397.6391     94.455      4.210      0.001     193.581     601.697
年齢            52.2651     12.430      4.205      0.001      25.412      79.118
体重             5.0447      2.495      2.022      0.064      -0.346      10.435
手長             2.8634      1.166      2.457      0.029       0.345       5.381
==============================================================================
Omnibus:                        0.173   Durbin-Watson:                   2.326
Prob(Omnibus):                  0.917   Jarque-Bera (JB):                0.256
Skew:                           0.195   Prob(JB):                        0.880
Kurtosis:                       2.542   Cond. No.                     2.42e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.42e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [44]:
X = X.drop("手長",1)

In [46]:
X

      年齢    体重  手首
0   4.47  20.6  49
1   2.11  11.8  22
2   3.56  13.6   5
3   2.91  12.4  38
4   4.25  16.6  19
5   3.93  16.2  23
6   4.20  14.6   9
7   3.99  16.0  20
8   4.13  17.6   5
9   4.33  18.5   6
10  3.74  14.3   5
11  4.47  22.9  35
12  4.36  16.3  47
13  4.21  15.9   5
14  2.32  12.6  29
15  2.37  12.6  33
16  2.17  12.8  41

In [69]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
num_col = model1.exog.shape[1] 
vifs = [variance_inflation_factor(model1.exog, i)
        for i in range(0, num_col)]
vif1=pd.DataFrame(vifs, index=model1.exog_names, columns=["VIF"])

num_col = model2.exog.shape[1] 
vifs = [variance_inflation_factor(model2.exog, i)
        for i in range(0, num_col)]
vif2=pd.DataFrame(vifs, index=model2.exog_names, columns=["VIF"])

In [71]:
vif1

              VIF
const  462.357267
年齢       6.800554
体重       3.632304
手長       4.674524
手首       1.359085

In [72]:
vif2

              VIF
const  461.731617
年齢       5.751720
体重       2.843346
手長       4.671984